* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #140f1d;
}

header {
    background-color: #240834;
    color: aliceblue;
    padding: 20px;
}

#header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header p {
    color: #238881;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #023028;
    font-weight: 540;
}

.paragrafo-vermelho {
    color: #009584;
    text-transform: uppercase;
}

div {
    display: flex;
}

#intro {
    margin-top: 20px;
    font-size: large;
}

#intro-section {
    background-color: #affffa;
    padding: 30px 70px;
    display: flex;
    gap: 20px;
}

#intro-article {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#capa-jogo {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

#article-capa {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#article-capa p {
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: #13071d;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 80px;
    color: #23514f;
}

span {
    color: #13071d;
}

#skullheart {
    background-color: #ffffff;
    padding: 70px;
}

#skullheart h2 {
    font-size: xx-large;
}

#galeria {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 20px;
}

.cards {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a6f8f1c9;
    padding: 20px;
    width: 29.5%;
    height: auto;
}

.simbolos {
    font-size: x-large;
}

#pronto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    background-color: #38284f;
}

#pronto p {
    display: flex;
    justify-content: center;
    color: #261038;
}

#pronto h2 {
    font-size: xx-large;
    color: #ffffff;
}

#botão-pronto {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #13071d;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

#footer-creditos {
    padding: 30px 60px;
    gap: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #f5f5f5;
}

#div-header {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botões {
    background-color: #7efff6;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

#botão-conjunto {
    gap: 10px;
    margin-top: 10px;
}

#botão-início {
    color: #ffffff;
    background-color: #13071d;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.botão-footer {
    color: #ffffff;
    background-color: #13071d;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0px 15px 0px 0px;
}
